body{
  margin: 10px;
}

.globalWrapper{
  font-family: 'Asap Condensed', sans-serif;
  border: 10px solid black;
  border-radius: 50px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  min-height: calc(100vh - 20px);
  max-width: 1200px;
}
